/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

/* Navigation styles */
@import url('./navigation-styles.css');

/* Teacher styles */
@import url('./teachers-styles.css');

/* Scroll container */
@import url('./scroll-container.css');
@import url('./popup.css');
@import url('./card.css');

:root {
  --max-width: 1300px;
  --container-top-padding: 2.2rem;
  --container-side-padding: 6rem;
  --search-form-font-size: 1.2rem;
  --orange: #f85e60;
  --light-orange: #f79686;
  --light-gray: #aaacb7;
  --logo-font-size: 3.6rem;
  --h2-font-size: 2.2rem;
  --text-font-size: 1.2rem;
  --section-margin: 2.2rem;
  --card-width: 160px;
  --cards-gap: 5%;
}

body {
  display: flex;
  justify-content: center;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-font-size);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: var(--max-width);
  padding: var(--container-top-padding) var(--container-side-padding);
  box-shadow: 0 0 25px lightgray;
}

.main-btn {
  color: var(--orange);
  background-color: white;
  border: 1px solid var(--orange);
  cursor: pointer;
  padding: 0.7rem 1rem;
}

.main-btn:hover {
  color: white;
  background-color: var(--orange);
}

hr {
  width: 50%;
  border: 1px solid #7c7c7c;
  margin: var(--section-margin) auto;
}

#logo {
  color: white;
  text-shadow: 1.5px 1px  black, -1.5px -1px var(--orange);
  font-family: "Times New Roman", sans-serif;
  font-size: var(--logo-font-size);
  font-weight: bolder;
}

#logo:hover {
  text-shadow: 3px 1px  black, -3px -1px var(--orange);
  cursor: pointer;
}

h2 {
  color: black;
  font-size: var(--h2-font-size);
  font-weight: bolder;
  margin-bottom: var(--section-margin);
}

footer {
  text-align: left;
  margin-top: 1rem;
}

.site-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  font-size: var(--search-form-font-size);
}

.search-form button {
  font-size: var(--search-form-font-size);
}

#statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  position: relative;
  color: #797982;
  border-bottom: 1px solid gray;
  padding: 1rem;
}

th:hover {
  background-color: #fafafa;
  cursor: pointer;
}

th::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: gray;
}

th:hover::before {
  height: 4px;
}

th:hover::after {
  content: '↓';
  color: darkcyan;
  margin-left: 10px;
  position: absolute;
  right: 10px; /* Adjust to position the arrow correctly */
  top: 50%;
  transform: translateY(-50%);
}

td {
  color: #797982;
  font-size: inherit;
  padding: 0.5rem;
}

tr:nth-child(odd):not(:first-child) {
  background-color: #faf5fb;
}

tr:hover:not(:first-child) {
  background: var(--orange);
}

tr:hover:not(:first-child) td {
  color: white;
}

th:first-child,
td:first-child {
  text-align: left;
}

.pagination {
  display: flex;
  margin: 1rem 1rem 0 1rem;
}

.pagination a,
.pagination span {
  padding-right: 1rem;
}

.page-link {
  color: darkcyan;
  text-decoration: none;
}

.page-link:hover {
  color: #797982;
}
