.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--section-margin);
}

.navigation ul {
  display: flex;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--orange);
}

.navigation ul li a:hover {
  color: darkred;
}

.navigation button {
  font-size: 1.6rem;
}
